/*--------------------------------------------------------------
    BASIC SETUP
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background2.svg");
    height: 100vh;
    background-size: 100% 100%;
}

ul {
    list-style-type: none;
}

.hidden{

    display: none;
}




/*--------------------------------------------------------------
    REUSABLE COMPONENTS
--------------------------------------------------------------*/


.logo {
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button{
    display: block;
    width: 110px;
    height: 34px;
    border-radius: 3%;
    background-color: #03a9f4;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0286c2;
}

.link {
    color: grey;
    transition: color 0.2s;
    text-decoration: none;
}

.link:hover {

    color: #0286c2;
}

.row {
    display: block;
    margin: 2%;
    width: 96%;
}

.nav-tab {
    display: inline-block;
}

.heading {
    display: block;
    width: 100%;
    color: white;
    padding: 10px 20px;
    background-color: #03a9f4;
    margin-bottom: 10px;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid grey;
}

th {
    text-align: center;
}

td {
    border-left: 1px solid grey;
}
td:first-of-type {
    border-left: none;
}


.edit-icon {
    font-size: 200%;
}

/*--------------------------------------------------------------
    FORM PAGE
--------------------------------------------------------------*/

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: text-bottom;
    background: url("../img/codecool-logo.png");
    background-size: 100% 100%;
}

.start-panel .logo {
    margin-top: 80px;
    margin-bottom: 50px;
}


.start-panel {
    width: 403px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
}


.form-row {
    margin: 30px auto;
    width: 350px;
    height: 38px;

}
.form-row * {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    border: 1px solid grey;
    padding-left: 5px;
}

/*--------------------------------------------------------------
    LOGIN PAGE
--------------------------------------------------------------*/


.login-panel{
    height: 420px;

}


.submit-button{
    border: none;
    outline:none;
    display: block;
    position: relative;
    margin: 50px auto;
}

.login-panel .link {
    display: block;
    width: 100%;
    text-align: center;
}



/*--------------------------------------------------------------
    CMS
--------------------------------------------------------------*/

body .cms {
    background: none;
}

.left-bar {
    position: fixed;
    height: 100%;
    width: 340px;
    background-color: #2a323c;
    z-index: 9998;

}

.top-bar {
    position: fixed;
    left: 340px;
    right: 0;
    background-color: #03a9f4;
    width: 100%;
    height: 70px;
}

.left-bar .logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
    position: absolute;
    left: 340px;
    top: 70px;
    right: 0;
    bottom: 0;
    background-color: white;
}

.welcome-box {
    position: fixed;
    text-align: right;
    font-size: 150%;
    right: 10px;
    color: white;
    font-weight: 700;
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    transition: color 0.3s;

}

.welcome-box:hover {
    color: #15191e;
    cursor: pointer;
}

.content-header {
    width: 100%;
    height: 67px;
    background-color: white;
    box-shadow: 0 1px 2px 0 #000;
}

.content-header-label {
    width: 100%;
    line-height: 67px;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: 700;
}

.dropdown {
    list-style-type: none;
    box-shadow: 0 0 3px #000;
    position: fixed;
    top: 70px;
    right: 0;
    width: 260px;
    height: 61px;
    z-index: 9999;
}

.dropdown-toggle{
    height: 50%;
    width: 100%;
    display: block;
    text-align: center;
}

.dropdown-toggle:first-of-type{
    text-decoration: none;
    border-bottom: 1px solid grey;
}

/*--------------------------------------------------------------
    LEFT-BAR-OPTIONS
--------------------------------------------------------------*/

.option {
    padding-left: 20px;
    margin: 30px auto;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: white;
    transition: background-color 0.3s;
}

.selected {
    background-color: #03a9f4;
}

.option:hover {
    background-color: #15191e;
    cursor: pointer;
}

.option-icon {
    font-size: 50px;
    display: inline-block;
}

p.option-text {
    height: 100%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: 20%;
}

/*--------------------------------------------------------------
    MENTOR
--------------------------------------------------------------*/

.edit-icon {
    display: inline-block;
    font-size: 200%;
    margin-right: 50px;
    cursor: pointer;
}

.edit-icons {
    display: flex;
    justify-content: space-around;
}

/*--------------------------------------------------------------
    CODECOOLER
--------------------------------------------------------------*/

.data-rectangles {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.rectangle-bar {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #03a9f4;
    font-size: 18px;
    padding: 5px;
    width: 100%;
}

.rectangle {
    box-shadow: 1px 2px 1px 2px #888888;
    width: 20%;
}

.rectangle * {
    width: 100%
}

.rectangle-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px;

}